.login-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-left {
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.login-left img {
    /* max-width: 100%;
    max-height: 100%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 20px 100px;

}

.login-right h2 {
    margin-bottom: 20px;
}

.login-right form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
}

.login-right label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.login-right input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.login-right button {
    background-color: #353A40;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}
.login-right-create {
    text-align: center;
    margin: 10px 40px;
}
.login-right-create span {
    color: #2C73EB;
}

.login-right button:hover {
    background-color: #0069d9;
}

@media (max-width: 968px) {
    .login-container {
        grid-template-columns: 1fr;
        padding: 30px;
    }

    .login-left {
        display: none;
    }

    /* .login-right {
        width: 100%;

    } */
    .login-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        padding: 20px 10px;
        width: 100%;

    }
}