.homeintra__top {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    flex-direction: row;
    /* background-color: blue; */
}

.homeintra__top-img img {
    max-width: 500px;
    height: 500px;
    border-radius: 20px;
}

.homeintra__top-right {
    background-color: #D9D9D9;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 20px;
}

.homeintra__top-right h4 {
    color: #5B2491;
    font-weight: bold;
}

.homeintra__top-right p {
    margin-bottom: 0px;
}

.homeintra__top-rightcontacto {
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
    
}

.homeintra__top-rightcontactocard {
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.homeintra__top-rightcontactocard p {
    margin-bottom: 0px;
}

.homeintra__bottom {
    background-color: #D9D9D9;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
}

.homeintra__bottom h4 {
    color: #5B2491;
    font-weight: bold;
}

.homeintra__bottom p {
    margin-bottom: 0px;
}

.homeintra__bottom-datos {
    display: flex;
    gap: 20px;

}

.homeintra__bottom-datos h5 {
    text-align: center;
    color: #5B2491;
    margin-top: 20px;
    font-weight: bold;

}

.homeintra__bottom-card {
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.homeintra__bottom-text b {
    color: #5B2491;
}


@media (max-width: 768px) {
    .homeintra__top {
        display: flex;
        flex-direction: column;
        /* background-color: red; */
    }
    .homeintra__top-rightcontacto {
        display: flex;
        flex-direction: column;
    }
    .homeintra__bottom-datos {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .homeintra__top-img img {
        max-width: 500px;
        width: 100%;
        height: 500px;
        border-radius: 20px;
    }
}