nav {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #333;
}


@media only screen and (min-width: 768px) {
  nav {
    flex-direction: row;
  }

  li {
    padding: 10px 20px;
  }
}