.tourinfo{
    display: flex;
}
.tourinfo img{
    width: 50%;
    height: 800px;
    border-radius: 20px;
}
.tourinfo__info h4{
    font-weight: bold;
    margin: 40px 50px;
}
.tourinfo__info p{
    
    margin: 40px 50px;
}
.tour__info-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .tourinfo{
        display: flex;
        flex-direction: column;
    }
    .tourinfo img{
        width: 100%;
        height: 400px;
        border-radius: 20px;
    }
    .tourinfo__info p{
    
        margin: 20px 0px;
    }
}